* {
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

nav >header {
  padding: 1.5rem;
}

#navbar li {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  list-style: none;
  border-top: 1px solid black;
  height: 1rem;
}



#navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 100;
  transition: text-indent 0.3s ease-in-out;
  
}

#navbar a:hover {
  text-indent: 5px;
  font-weight: 500;
}

#navbar {
  height: 30%;
  border-right: 3px solid rgb(201, 199, 199);

}

span,
p,
nav,
header {
  font-family: 'Calibri';
}


.main-section {
  margin: 1.5rem 2rem;
}

header {
  font-size: 2rem;
  padding-bottom: 1rem;
}

main {
  background: rgb(222, 222, 222)
}

pre {
  background: #fff;
  width: 90%;
  margin: 0;
}

main p,
main span,
main ul {
  margin: 1rem;
}

header {
  width: fit-content;
  max-height: 87px;
  font-size: 2rem;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
  }
  #navbar {
    width: 25%;
    height: 100%;
    position: fixed;

  }
  main {
    margin-left: 25%;
    min-width: 40rem;
  
  }
  pre {
    width: 50%;
  }
  .main-section {
    max-width: 75rem;
  }
}
